<div class="card">
    <h4 class="card-header">Stardust: The adventure</h4>
    <div class="card-body">
      <div class="text-center">
      <img src="../assets/clock.png" class="rounded" alt="Image">
    </div> <br>
      <p>Well done! you made progress in the adventure. However, performing actions takes time, 
        so you must wait before continuing this journey. 
        <br><br>

        Your actions will determine the outcome of this story but remember: <br>
        "The most important step anyone can take.
         It's not the first one, is it? It's the next one. Always the next step."<br><br>
        
        Stay tuned for more!!  
      </p>
      <button type="button"  class="btn btn-primary btn-lg btn-block" [routerLink]="['/']">Back to home screen</button>
    </div>
  </div>