<div class="card">
  <h4 class="card-header">Welcome to Stardust: The videogame</h4>
  <div class="card-body">
    <p>In this game you will be taking decisions in order to handle high risk & low probability situations in 
      the space enviroment.
    </p>
    <button *ngIf="!hasPlayedBefore" type="button" class="btn btn-primary btn-lg btn-block" [routerLink]="['/questions',1]">Start Playing</button>
    <button *ngIf="hasPlayedBefore" type="button"  class="btn btn-primary btn-lg btn-block" [routerLink]="['/questions',nextID]">Continue Playing</button>
  </div>
</div>