<div class="card">
  <h4 class="card-header">Welcome to Stardust: The videogame</h4>
  <div class="card-body">
    <p>As a Stardust-Reloaded fellow, you never expected to make such a monumental discovery. But that's exactly what happened when you found an asteroid that is on a collision course with Earth.    

      This asteroid is a threat to life on our planet, and you are working tirelessly to find a way to stop it. It's a daunting task, but you hope to find a solution before it's too late. 
      
      Will you be able to prevent a global catastrophe?      
    </p>
    <button *ngIf="!hasPlayedBefore" type="button" class="btn btn-primary btn-lg btn-block" [routerLink]="['/questions',1]">Start Playing</button>
    <button *ngIf="hasPlayedBefore" type="button"  class="btn btn-primary btn-lg btn-block" [routerLink]="['/questions',nextID]">Continue Playing</button>
  </div>
</div>